<a href="https://colab.research.google.com/github/Alexandra-Dunaf/data_mining/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]. Используя математические операции, посчитать коэффициенты линейной регрессии, приняв за X заработную плату (то есть, zp - признак), а за y - значения скорингового балла (то есть, ks - целевая переменная). Произвести расчет как с использованием intercept, так и без.

In [18]:
import numpy as np

In [19]:
X=np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
X

array([ 35,  45, 190, 200,  40,  70,  54, 150, 120, 110])

In [20]:
y=np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])
y

array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [21]:
n=len(X)
n

10

In [22]:
b=(np.mean(X*y)-np.mean(X)*np.mean(y))/(np.mean(X**2)-np.mean(X)**2)
b

2.620538882402765

In [23]:
a=np.mean(y)-b*np.mean(X)
a

444.1773573243596

In [25]:
X=X.reshape((10,1))
X

array([[ 35],
       [ 45],
       [190],
       [200],
       [ 40],
       [ 70],
       [ 54],
       [150],
       [120],
       [110]])

In [26]:
y=y.reshape((10,1))
y

array([[401],
       [574],
       [874],
       [919],
       [459],
       [739],
       [653],
       [902],
       [746],
       [832]])

In [27]:
B=np.dot(np.linalg.inv(np.dot(X.T,X)),X.T@y)
B

array([[5.88982042]])

In [28]:
 X=np.hstack([np.ones((10,1)),X])
 X

array([[  1.,  35.],
       [  1.,  45.],
       [  1., 190.],
       [  1., 200.],
       [  1.,  40.],
       [  1.,  70.],
       [  1.,  54.],
       [  1., 150.],
       [  1., 120.],
       [  1., 110.]])

In [29]:
B=np.dot(np.linalg.inv(np.dot(X.T,X)),X.T@y)
B

array([[444.17735732],
       [  2.62053888]])

Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept).

In [30]:
X=np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
X

array([ 35,  45, 190, 200,  40,  70,  54, 150, 120, 110])

In [31]:
y=np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])
y

array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [32]:
def mse_(B1,y=y,X=X,n=10):
  return np.sum(B1*X-y)**2/n

In [33]:
B1=0.1

In [34]:
alpha=1e-6
alpha

1e-06

In [37]:
for i in range (20000):
  B1-=alpha*(2/n)*np.sum((B1*X-y)*X)
  if i%5000==0:
    print('iteration: {i},B1={B1}, mse={mse}'.format(i=i,B1=B1,mse=mse_(B1)))

iteration: 0,B1=5.889820420132673, mse=126950.26770750014
iteration: 5000,B1=5.889820420132673, mse=126950.26770750014
iteration: 10000,B1=5.889820420132673, mse=126950.26770750014
iteration: 15000,B1=5.889820420132673, mse=126950.26770750014

В каких случаях для вычисления доверительных интервалов и проверки статистических гипотез используется таблица значений функции Лапласа, а в каких - таблица критических точек распределения Стьюдента?